server:
  port: 8081
  servlet:
    context-path: /CrudService

spring:
  application:
    name: CrudService
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
      dialect: org.hibernate.dialect.MySQL8Dialect
  jmx:
    enabled: false
  datasource:
    url: jdbc:mysql://localhost:3306/crud_service?useTimezone=true&serverTimezone=UTC
    username: root
    password: admin

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

crud:
  rabbitmq:
    exchange: crud.exchange
    routingkeyQuarto: crud.quarto.routingkey
    routingkeyUsuario: crud.usuario.routingkey
    routingkeyHotel: crud.hotel.routingkey
    routingkeyProduto: crud.produto.routingkey
    routingkeyCidade: crud.cidade.routingkey
    routingkeyTurismo: crud.turismo.routingkey


eureka:
  instance:
    hostname: localhost
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/discovery/eureka
